/* footer css */
footer {
  background-color: #036;
  border-top: 2px solid #fcba19;
  color: #fff;
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 46px;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  color: #fff;
  list-style: none;
  align-items: center;
  height: 100%;
}

footer ul li a {
  font-size: 1rem;
  font-weight: normal;  /* 400 */
  color: #fff;
  border-right: 1px solid #4b5e7e;
  padding-left: 5px;
  padding-right: 5px;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

:focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
}

/* header css */
header {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  color: #fff;
  display: flex;
  height: 65px;
  top: 0px;
  width: 100%;
}

header h1 {
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: normal;  /* 400 */
  margin: 5px 5px 0 18px;
  font-size: 2em;
  visibility: visible;
  color: white
}

header .banner {
  flex-direction: row !important;
  min-height: 6vh;
  margin: 0 10px 0 0;
}

.header-container{
  width: 100%;
}

header .other {
  display: flex;
  flex-grow: 1;
}

.navigation-main {
  display: block;
  background-color: #38598a;
  /* border-top: 2px solid #fcba19; */
  color: #fff;
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif; 
}

.navigation-main .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 46px;
}

.navigation-main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  color: #fff;
  list-style: none;
  align-items: center;
  height: 100%;
}

.navigation-main ul li a {
  font-size: 1rem;
  font-weight: normal;  /* 400 */
  color: #fff;
  border-right: 1px solid #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.navigation-main a:hover {
  color: #fff;
  text-decoration: underline;
}


/*main content class overrides*/
/*main content font size of components, primiarly everything here is increasing font size from 14px to 16px*/
.component-list{
  font-size:16px !important;
}

h6, .h6{
  font-size: 1rem;
}


#statuspagesDisplay .component-list .component, .incident-list .incident {
  padding:16px 2rem 9px 2rem;
  z-index:0;
}

p, .mb-1, #statuspagesDisplay .incident-list .incident-details .update .update-heading .name,
#statuspagesDisplay .incident-list .incident .incident-heading{
  font-size:16px !important;
}


.font-14, #statuspagesListing .component-list, #statuspagesManage .component-list, #statuspagesDisplay .component-list, #statuspagesListing .incident-updates, #statuspagesListing .incident-list .incident-details, #statuspagesListing #statuspagesManage .incident-list .incident-details, #statuspagesManage .incident-list #statuspagesListing .incident-details, #statuspagesListing #statuspagesDisplay .incident-list .incident-details, #statuspagesDisplay .incident-list #statuspagesListing .incident-details, #statuspagesManage .incident-updates, #statuspagesManage #statuspagesListing .incident-list .incident-details, #statuspagesListing .incident-list #statuspagesManage .incident-details, #statuspagesManage .incident-list .incident-details, #statuspagesManage #statuspagesDisplay .incident-list .incident-details, #statuspagesDisplay .incident-list #statuspagesManage .incident-details, #statuspagesDisplay .incident-updates, #statuspagesDisplay #statuspagesListing .incident-list .incident-details, #statuspagesListing .incident-list #statuspagesDisplay .incident-details, #statuspagesDisplay #statuspagesManage .incident-list .incident-details, #statuspagesManage .incident-list #statuspagesDisplay .incident-details, #statuspagesDisplay .incident-list .incident-details, #statuspagesListing .incident-list, #statuspagesManage .incident-list, #statuspagesDisplay .incident-list, #statuspagesManage .status-select-box>a[data-toggle=dropdown], #statuspagesManage .status-select-box>.dropdown-menu, #statuspagesDisplay .header>.description, #statuspagesDisplay #section-content-tab-history .history-date-range-snake .snake-popup>.content {
  font-size:16px;
}


.font-12, .graph-legend .marker, #statuspagesListing .incident-updates .update .update-heading .date, #statuspagesListing .incident-list .incident-details .update .update-heading .date, #statuspagesManage .incident-updates .update .update-heading .date, #statuspagesManage .incident-list .incident-details .update .update-heading .date, #statuspagesDisplay .incident-updates .update .update-heading .date, #statuspagesDisplay .incident-list .incident-details .update .update-heading .date, #statuspagesListing .incident-list .incident .incident-heading .date, #statuspagesManage .incident-list .incident .incident-heading .date, #statuspagesDisplay .incident-list .incident .incident-heading .date {
  font-size:14px;
}

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full.
*/
@media screen and (max-width: 900px) {
  header h1 {
    font-size:10px;
    visibility: visible;
  }
}
