# Patroni NetworkSecurityPolicy (nsp)
---
apiVersion: secops.pathfinder.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: custom-pods-to-pods-aqua-console-to-database-and-gateway
spec:
  description: |
    Allow {{ aqua_common_namespace }} Aqua Console pods to talk to Database and Gateway
  destination:
  - - $namespace={{ aqua_common_namespace }}
    - cluster-name={{ aqua_audit_patroni_name }}{{ aqua_patroni_suffix }}
  - - $namespace={{ aqua_common_namespace }}
    - cluster-name={{ aqua_patroni_name }}{{ aqua_patroni_suffix }}
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-gateway
  source:
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-console

---
apiVersion: secops.pathfinder.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: custom-pods-to-k8s-api-aqua-console
spec:
  description: |
    Allow {{ aqua_common_namespace }} aqua-console pods to talk to the k8s api
  destination:
  - - int:network=internal-cluster-api-endpoint
  source:
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-console

---
apiVersion: secops.pathfinder.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: custom-egress-internet-aqua-console-to-world
spec:
  description: |
    allow aqua-console to talk to the internet
  source:
    - - $namespace={{ aqua_common_namespace }}
      - app=aqua-console
  destination:
    - - ext:network=any
