---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    description: Aqua console secret - (License, Administrator Password)
  labels:
    deployedby: aqua-playbook
  name: aqua-console
  namespace: '{{ aqua_common_namespace }}'
type: Opaque
data:
  license: '{{ aqua_license | b64encode }}'
  administrator_password: '{{ aqua_administrator_password | b64encode }}'
