---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: aqua-console
  name: aqua-console
  namespace: '{{ aqua_common_namespace }}'
spec:
  ports:
  - name: aqua-console-ssl
    port: 443
    protocol: TCP
    targetPort: 8443
  - name: aqua-console
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: aqua-console
  type: LoadBalancer
status:
  loadBalancer: {}
