Project, Product Name, Product Lead, Ministry Organization Code
{% for n in project_metadata%}
{{ n.Project }},{{ n.Product }},{{ n.ProductLead }},{{ n.ProductOwner }},{{ n.OrgCode }}-{{ n.UnitCode }}
{% endfor %}