Project, Product Name, Product Lead, Product Owner,  Ministry Organization Code, Project Description
{% for n in project_metadata%}
{{ n.Project }},{{ n.Product }},{{ n.ProductLead }},{{ n.ProductOwner }},{{ n.OrgCode }}-{{ n.UnitCode }}, {{ n.Description }}
{% endfor %}