---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ patroni_name }}{{ patroni_suffix }}'
  labels:
    app: '{{ patroni_name }}{{ patroni_suffix }}'
    cluster-name: '{{ patroni_name }}{{ patroni_suffix }}'
    app.kubernetes.io/component: database
    app.kubernetes.io/name: patroni
    app.kubernetes.io/managed-by: ansible-role-patroni
    app.kubernetes.io/version: "10"
stringData:
  replication-username: '{{ patroni_replication_username }}'
  replication-password: '{{ patroni_replication_password }}'
  superuser-username: '{{ patroni_superuser_username }}'
  superuser-password: '{{ patroni_superuser_password }}'
  app-db-name: '{{ patroni_app_db_name }}'
  app-db-username: '{{ patroni_app_db_username }}'
  app-db-password: '{{ patroni_app_db_password }}'
