# Patroni Role Binding
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    cluster-name: '{{ patroni_name }}{{ patroni_suffix }}'
    app: '{{ patroni_name }}{{ patroni_suffix }}'
    app.kubernetes.io/instance: '{{ patroni_name }}{{ patroni_suffix }}'
    app.kubernetes.io/component: database
    app.kubernetes.io/name: patroni  
    app.kubernetes.io/managed-by: ansible-role-patroni
    app.kubernetes.io/version: "10"
  name: '{{ patroni_name }}{{ patroni_suffix }}'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ patroni_name }}{{ patroni_suffix }}'
subjects:
- kind: ServiceAccount
  name: '{{ patroni_name }}{{ patroni_suffix }}'
