APIVersion: 1
label: inter-ns-network-{{ pol_uuid }}
data:
  networkaccesspolicies:
  - name: inter-ns-network-{{ pol_uuid }}
    description: {{ netpol_spec.description | replace('\n', ' ') }}
    action: "Allow"
    propagate: true
    logsEnabled: true
    object:
{% if '/bcgov' in netpol_spec.destination %}
    - - $namespace={{ netpol_spec.destination }}
{% else %}
{% if  netpol_spec.destination.startswith('/') %}
{% set destination = netpol_spec.destination[1:] %}
{% else %}
{% set source = netpol_spec.destination %}
{% endif %}
    - - $namespace={{ lookup('env', 'APOCTL_BASE_NAMESPACE') }}/{{ destination }}
{% endif %}
    subject:
{% if '/bcgov' in netpol_spec.source %}
    - - $namespace={{ netpol_spec.source }}
{% else %}
{% if  netpol_spec.source.startswith('/') %}
{% set source = netpol_spec.source[1:] %}
{% else %}
{% set source = netpol_spec.source %}
{% endif %}
    - - $namespace={{ lookup('env', 'APOCTL_BASE_NAMESPACE') }}/{{ source }}
{% endif %}
    associatedTags:
    - k8s-uuid={{ k8s_uuid }}
