---
apiVersion: secops.pathfinder.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: custom-netpol-aqua-scanner-to-console
spec:
  description: |
    Allow {{ aqua_common_namespace }} Aqua Scanner pods to talk to Console
  destination:
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-console
  source:
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-scanner
