server:
  route:
    enabled: true
    host: {{ ocp_route_fqdn }}
  extraEnvironmentVars:
    VAULT_SKIP_VERIFY: "1"
    VAULT_LOG_LEVEL: "debug"
  ha:
    replicas: {{ vault_install_replicas }}
    raft:
      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }

        storage "raft" {
          path = "/vault/data"
          retry_join {
            leader_api_addr = "http://vault-0.vault-internal:8200"
          }
          retry_join {
            leader_api_addr = "http://vault-1.vault-internal:8200"
          }
          retry_join {
            leader_api_addr = "http://vault-2.vault-internal:8200"
          }
        }

        service_registration "kubernetes" {}

