server:
  route:
    enabled: true
    host: {{ ocp_route_fqdn }}
  extraEnvironmentVars:
    VAULT_SKIP_VERIFY: "1"
  ha:
    replicas: {{ vault_install_replicas }}
    raft:
      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }

        storage "raft" {
          path = "/vault/data"
        }

        service_registration "kubernetes" {}

