apiVersion: v1
data:
  sysdig-public-capacity.json: |-
      {
        "annotations": {
          "list": [
            {
              "builtIn": 1,
              "datasource": "-- Grafana --",
              "enable": true,
              "hide": true,
              "iconColor": "rgba(0, 211, 255, 1)",
              "name": "Annotations & Alerts",
              "type": "dashboard"
            }
          ]
        },
        "editable": true,
        "gnetId": null,
        "graphTooltip": 0,
        "id": 6,
        "links": [],
        "panels": [
          {
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [],
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    }
                  ]
                }
              },
              "overrides": []
            },
            "id": 23,
            "options": {
              "colorMode": "value",
              "graphMode": "area",
              "justifyMode": "auto",
              "orientation": "auto",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": true
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.namespace.pod.available.count",
                "timeAggregation": "timeAvg"
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Total Running Pods",
            "type": "stat"
          },
          {
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [],
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    }
                  ]
                }
              },
              "overrides": []
            },
            "gridPos": {
              "h": 3,
              "w": 5,
              "x": 6,
              "y": 0
            },
            "id": 25,
            "options": {
              "colorMode": "value",
              "graphMode": "area",
              "justifyMode": "auto",
              "orientation": "auto",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": true
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.namespace.count",
                "timeAggregation": "avg"
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Total Namespaces",
            "type": "stat"
          },
          {
            "content": "# Node Ready Status by Function\n",
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {}
              },
              "overrides": []
            },
            "gridPos": {
              "h": 2,
              "w": 24,
              "x": 0,
              "y": 3
            },
            "id": 11,
            "mode": "markdown",
            "title": "",
            "type": "text"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#d44a3a",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 2
                    },
                    {
                      "color": "#299c46",
                      "value": 3
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 3,
              "x": 0,
              "y": 5
            },
            "id": 9,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"master\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.ready",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.node.label.region in (\"master\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "max",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.unschedulable",
                "timeAggregation": "max"
              }
            ],
            "title": "Masters - Ready",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "alias": "schedulable_nodes",
                  "binary": {
                    "left": "kubernetes.node.ready",
                    "operator": "-",
                    "reducer": "sum",
                    "right": "kubernetes.node.unschedulable"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#299c46",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 2
                    },
                    {
                      "color": "#d44a3a",
                      "value": 3
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 3,
              "x": 3,
              "y": 5
            },
            "id": 10,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"master\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.unschedulable",
                "timeAggregation": "max"
              }
            ],
            "title": "Masters - NotReady",
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#d44a3a",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 2
                    },
                    {
                      "color": "#299c46",
                      "value": 3
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 3,
              "x": 6,
              "y": 5
            },
            "id": 7,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"infra\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.ready",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.node.label.region in (\"infra\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.unschedulable",
                "timeAggregation": "max"
              }
            ],
            "title": "Infrastructure - Ready",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "alias": "schedulable_nodes",
                  "binary": {
                    "left": "kubernetes.node.ready",
                    "operator": "-",
                    "reducer": "sum",
                    "right": "kubernetes.node.unschedulable"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#299c46",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 2
                    },
                    {
                      "color": "#d44a3a",
                      "value": 3
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 3,
              "x": 9,
              "y": 5
            },
            "id": 8,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"infra\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.unschedulable",
                "timeAggregation": "max"
              }
            ],
            "title": "Infrastructure  - NotReady",
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#d44a3a",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 26
                    },
                    {
                      "color": "#299c46",
                      "value": 31
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 3,
              "x": 12,
              "y": 5
            },
            "id": 5,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"app\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.ready",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.node.label.region in (\"app\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.unschedulable",
                "timeAggregation": "max"
              }
            ],
            "title": "Application - Ready",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "alias": "schedulable_nodes",
                  "binary": {
                    "left": "kubernetes.node.ready",
                    "operator": "-",
                    "reducer": "sum",
                    "right": "kubernetes.node.unschedulable"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#299c46",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 2
                    },
                    {
                      "color": "#d44a3a",
                      "value": 6
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 3,
              "x": 15,
              "y": 5
            },
            "id": 6,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"app\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.unschedulable",
                "timeAggregation": "max"
              }
            ],
            "title": "Application - NotReady",
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#299c46",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 2
                    },
                    {
                      "color": "#d44a3a",
                      "value": 6
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 3,
              "x": 18,
              "y": 5
            },
            "id": 19,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "last"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"quarantine\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.ready",
                "timeAggregation": "max"
              }
            ],
            "title": "Quarantined Nodes",
            "type": "stat"
          },
          {
            "content": "# CPU Capacity on Application Nodes\nUsage is the **Maxiumum amount of cores used / Available CPU Cores** across all **App** used during the time period.   \nRequest / Commitment  is the amount of **CPU Core Requests / Available CPU Cores** guaranteed for pods across all **App** nodes.   \nLimits / Overcommitment is  amount of **CPU Core Limits / Available CPU Cores** configured for bursting across all **App** nodes.   \nIf the platform Request / Commitment reaches 100%, no new workloads can be deployed.\n\n",
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {}
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 24,
              "x": 0,
              "y": 9
            },
            "id": 3,
            "mode": "markdown",
            "title": "",
            "type": "text"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "decimals": 0,
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "percentage",
                  "steps": [
                    {
                      "color": "#299c46",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 50
                    },
                    {
                      "color": "#d44a3a",
                      "value": 80
                    }
                  ]
                },
                "unit": "percentunit"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 7,
              "x": 0,
              "y": 13
            },
            "id": 0,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "mean"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "agent.tag.region in (\"app\") and agent.tag.env in (\"prod\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "cpu.cores.used",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.cluster.name in (\"pathfinder\") and kubernetes.node.label.region in(\"app\")",
                "groupAggregation": "sum",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.capacity.cpuCores",
                "timeAggregation": "max"
              }
            ],
            "title": "CPU % Used (Max)",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "alias": "CPU Cores Used %",
                  "binary": {
                    "left": "cpu.cores.used",
                    "operator": "/",
                    "reducer": "sum",
                    "right": "kubernetes.node.capacity.cpuCores"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "decimals": 0,
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "yellow",
                      "value": 60
                    },
                    {
                      "color": "red",
                      "value": 80
                    }
                  ]
                },
                "unit": "percent"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 7,
              "x": 7,
              "y": 13
            },
            "id": 17,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "area",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "lastNotNull"
                ],
                "fields": "",
                "values": true
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"app\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.allocatable.cpuCores",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.node.label.region in (\"app\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.pod.resourceRequests.cpuCores",
                "timeAggregation": "max"
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "CPU Request / Commitment",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "binary": {
                    "left": "kubernetes.pod.resourceRequests.cpuCores",
                    "operator": "/",
                    "reducer": "sum",
                    "right": "kubernetes.node.allocatable.cpuCores"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              },
              {
                "id": "calculateField",
                "options": {
                  "binary": {
                    "left": "kubernetes.pod.resourceRequests.cpuCores / kubernetes.node.allocatable.cpuCores",
                    "operator": "*",
                    "reducer": "sum",
                    "right": "100"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "decimals": 0,
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "percentage",
                  "steps": [
                    {
                      "color": "#299c46",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 100
                    },
                    {
                      "color": "red",
                      "value": 200
                    }
                  ]
                },
                "unit": "percentunit"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 7,
              "x": 14,
              "y": 13
            },
            "id": 20,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "last"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.cluster.name in (\"pathfinder\") and kubernetes.node.label.region in(\"app\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.allocatable.cpuCores",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.cluster.name in (\"pathfinder\") and kubernetes.node.label.region in(\"app\")",
                "groupAggregation": "sum",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.pod.resourceLimits.cpuCores",
                "timeAggregation": "max"
              }
            ],
            "title": "CPU Limits  / Overcommitment",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "alias": "CPU Overcommit",
                  "binary": {
                    "left": "kubernetes.pod.resourceLimits.cpuCores",
                    "operator": "/",
                    "reducer": "sum",
                    "right": "kubernetes.node.allocatable.cpuCores"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          },
          {
            "content": "# Memory Capacity on Application Nodes\nUsage is the **Maxiumum amount of Memory used / Available Memory** across all **App** used during the time period.   \nRequest / Commitment  is the amount of **Memory Requests / Available Memory** guaranteed for pods across all **App** nodes.   \nLimits / Overcommitment is  amount of **Memory Limits / Available Memory** configured for bursting across all **App** nodes.   \nIf the platform Request / Commitment reaches 100%, no new workloads can be deployed.\n\n",
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {}
              },
              "overrides": []
            },
            "gridPos": {
              "h": 4,
              "w": 24,
              "x": 0,
              "y": 18
            },
            "id": 2,
            "mode": "markdown",
            "title": "",
            "type": "text"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "#299c46",
                      "value": null
                    },
                    {
                      "color": "rgba(237, 129, 40, 0.89)",
                      "value": 50
                    },
                    {
                      "color": "#d44a3a",
                      "value": 80
                    }
                  ]
                },
                "unit": "percent"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 7,
              "x": 0,
              "y": 22
            },
            "id": 1,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "lastNotNull"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "agent.tag.region in (\"app\") and agent.tag.env in (\"prod\")",
                "groupAggregation": "max",
                "isSingleDataPoint": false,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "memory.used.percent",
                "timeAggregation": "max"
              }
            ],
            "title": "Memory % Used (Max)",
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "yellow",
                      "value": 70
                    },
                    {
                      "color": "red",
                      "value": 80
                    }
                  ]
                },
                "unit": "percent"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 7,
              "x": 7,
              "y": 22
            },
            "id": 18,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "lastNotNull"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"app\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.allocatable.memBytes",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.node.label.region in (\"app\")",
                "groupAggregation": "sum",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.pod.resourceRequests.memBytes",
                "timeAggregation": "max"
              }
            ],
            "title": "Memory Request / Commitment",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "binary": {
                    "left": "kubernetes.pod.resourceRequests.memBytes",
                    "operator": "/",
                    "reducer": "sum",
                    "right": "kubernetes.node.allocatable.memBytes"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              },
              {
                "id": "calculateField",
                "options": {
                  "binary": {
                    "left": "kubernetes.pod.resourceRequests.memBytes / kubernetes.node.allocatable.memBytes",
                    "operator": "*",
                    "reducer": "sum",
                    "right": "100"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          },
          {
            "cacheTimeout": null,
            "datasource": "Sysdig",
            "fieldConfig": {
              "defaults": {
                "custom": {},
                "decimals": 0,
                "mappings": [
                  {
                    "id": 0,
                    "op": "=",
                    "text": "N/A",
                    "type": 1,
                    "value": "null"
                  }
                ],
                "nullValueMode": "connected",
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "yellow",
                      "value": 100
                    },
                    {
                      "color": "red",
                      "value": 200
                    }
                  ]
                },
                "unit": "percentunit"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 7,
              "x": 14,
              "y": 22
            },
            "id": 21,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "options": {
              "colorMode": "background",
              "fieldOptions": {
                "calcs": [
                  "mean"
                ]
              },
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "horizontal",
              "reduceOptions": {
                "calcs": [
                  "lastNotNull"
                ],
                "fields": "",
                "values": false
              }
            },
            "pluginVersion": "7.0.3",
            "targets": [
              {
                "filter": "kubernetes.node.label.region in (\"app\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isSingleDataPoint": true,
                "isTabularFormat": false,
                "refId": "0",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.pod.resourceLimits.memBytes",
                "timeAggregation": "max"
              },
              {
                "filter": "kubernetes.node.label.region in (\"app\") and kubernetes.cluster.name in (\"pathfinder\")",
                "groupAggregation": "sum",
                "isTabularFormat": false,
                "refId": "A",
                "segmentBy": [],
                "sortDirection": "desc",
                "target": "kubernetes.node.allocatable.memBytes",
                "timeAggregation": "max"
              }
            ],
            "title": "Memory Limits / Overcommit",
            "transformations": [
              {
                "id": "calculateField",
                "options": {
                  "alias": "Memory Overcommitment ",
                  "binary": {
                    "left": "kubernetes.pod.resourceLimits.memBytes",
                    "operator": "/",
                    "reducer": "sum",
                    "right": "kubernetes.node.allocatable.memBytes"
                  },
                  "mode": "binary",
                  "reduce": {
                    "reducer": "sum"
                  },
                  "replaceFields": true
                }
              }
            ],
            "type": "stat"
          }
        ],
        "refresh": "1h",
        "schemaVersion": 25,
        "style": "dark",
        "tags": [],
        "templating": {
          "list": []
        },
        "time": {
          "from": "now-1h",
          "to": "now"
        },
        "timepicker": {
          "refresh_intervals": [
            "10s",
            "30s",
            "1m",
            "5m",
            "15m",
            "30m",
            "1h",
            "2h",
            "1d"
          ]
        },
        "timezone": "browser",
        "title": "Pathfinder Capacity and Utilization"
      }
kind: ConfigMap
metadata:
  labels:
    app: {{ grafana_service_name }}
  name: {{ grafana_service_name }}-dashboards