apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ vault_install_ocp_namespace }}-backup
  namespace: {{ vault_install_ocp_namespace }}
spec:
  schedule: "{{ vault_backup_install_cron_schedule }}" # Replace with Hourly Backups
  jobTemplate:
    spec:
      template:
        spec:
          concurrencyPolicy: Forbid
          containers:
          - name: vault
            image: registry.hub.docker.com/library/vault:{{ vault_install_version }}
            command:
              - "/bin/sh"
              - "-c"
            args:
              # Always Backup even if certificates are expired
              - find /backup -mtime +10 -type f -delete;
                vault operator raft snapshot save -tls-skip-verify /backup/raft-$(date +%Y-%m-%d_%H%M%S).snap;
            env:
              - name: VAULT_ADDR
                value: "https://vault-active:8200"
              - name: VAULT_TOKEN
                value: "{{ vault_backup_install_token }}"
            volumeMounts:
              - name: {{ vault_install_ocp_namespace }}-cronjob
                mountPath: /backup
          restartPolicy: OnFailure
          volumes:
          - name: {{ vault_install_ocp_namespace }}-cronjob
            persistentVolumeClaim:
              claimName: {{ vault_install_ocp_namespace }}-pv-claim
