APIVersion: 1
{#
    The `label` field is used by the import routine to determine the
    uniqueness of an object. If the label is unique it will create
    new objects; if the label matches an existing import it will
    update / replace existing objects.
#}
label: "{{ import_label }}" 
data:
  externalnetworks:
{# 
    The ExternalNetwork name is built from a hard-coded prefix
    combined with the k8s object name derrived from the `metadata.name`
    field. This allows for operations to quickly correlate the k8s object
    with the Aporeto policy.
#}
  - name: {{ network_name }}
    description: {{ description | replace('\n', ' ') }}
    entries:
{% for entry in entries %}
    - "{{ entry }}"
{% endfor %}
    servicePorts:
{% for protocol in protocols %}
{% for port in ports %}
    - "{{ protocol }}/{{ port }}"
{% endfor %}
{% endfor %}
    associatedTags:
    - uuid={{ import_label }}
    - ext:name={{ network_name }}
