---
apiVersion: secops.pathfinder.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: custom-netpol-aqua-gateway-to-db-and-console
spec:
  description: |
    Allow {{ aqua_common_namespace }} Aqua Gateway pods to talk to Console and Database
  destination:
  - - $namespace={{ aqua_common_namespace }}
    - cluster-name={{ aqua_audit_patroni_name }}{{ aqua_patroni_suffix }}
  - - $namespace={{ aqua_common_namespace }}
    - cluster-name={{ aqua_patroni_name }}{{ aqua_patroni_suffix }}
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-console
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-gateway
  source:
  - - $namespace={{ aqua_common_namespace }}
    - app=aqua-gateway
