---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    description: Aqua Enforcer token secret
  labels:
    deployedby: aqua-playbook
  name: aqua-agent-token
  namespace: '{{ aqua_agent_namespace }}'
type: Opaque
data:
  token: '{{ (aqua_agent_token | default(omit)) | b64encode}}'
