# List the KV folder
path "{{ vault_generate_terraform_files_lp_prod }}/metadata/"
{
  capabilities = ["list"]
}

# Manage secrets and versions
path "{{ vault_generate_terraform_files_lp_prod }}/data/*"
{
  capabilities = ["create", "read", "update", "delete", "list"]
}

# Read own policy
path "sys/policy/{{ vault_generate_terraform_files_lp_prod }}"
{
  capabilities = ["read", "list"]
}

path "sys/policies/acl/{{ vault_generate_terraform_files_lp_prod }}" {
  capabilities = ["read", "list"]
}
