resource "vault_mount" "{{ vault_generate_terraform_files_lp_nonprod }}" {
  path        = "{{ vault_generate_terraform_files_lp_nonprod }}"
  type        = "kv-v2"
  description = "KV2 Secrets Engine for {{ vault_generate_terraform_files_lp_nonprod }}."
}

resource "vault_mount" "{{ vault_generate_terraform_files_lp_prod }}" {
  path        = "{{ vault_generate_terraform_files_lp_prod }}"
  type        = "kv-v2"
  description = "KV2 Secrets Engine for {{ vault_generate_terraform_files_lp_prod }}."
}

resource "vault_policy" "{{ vault_generate_terraform_files_lp_nonprod }}" {
  name   = "{{ vault_generate_terraform_files_lp_nonprod }}"
  policy = file("policies/{{ vault_generate_terraform_files_lp_nonprod }}.hcl")
}

resource "vault_policy" "{{ vault_generate_terraform_files_lp_prod }}" {
  name   = "{{ vault_generate_terraform_files_lp_prod }}"
  policy = file("policies/{{ vault_generate_terraform_files_lp_prod }}.hcl")
}

resource "vault_kubernetes_auth_role" "" {
  
}
