# Jenkins Version List

{% for dict_item in report_output|sort(attribute='version') %}

namespace: {{ dict_item.namespace }} url: {{ dict_item.url }} version: {{  dict_item.version }}
plugins: {{ dict_item.plugins }}

{% endfor %}