
{   
    "canUseAwsMetrics": false,
    "canUseCustomEvents": true,
    "canUseSysdigCapture": true,
    "default": false,
    "description": "{{ team.description }}",
    "entryPoint": {
        "module": "Dashboards"
    },
    "name": "{{ team.name }}",
    "show": "container",
    "theme": "#73A1F7"
}