
{   
    "canUseAwsMetrics": false,
    "canUseCustomEvents": true,
    "canUseSysdigCapture": false,
    "default": false,
    "description": "{{ team.description }} Persistent Storage",
    "entryPoint": {
        "module": "Dashboards"
    },
    "name": "{{ team_name }}-persistent-storage",
    "show": "host",
    "theme": "#73A1F7",
    "filter": "namespace in ({% for namespace in namespaces  %}\"{{ namespace }}\"{% if not loop.last %},{% endif %}{% endfor %} )",
    "userRoles": [
{% for role in team_users_and_roles  %}
      {
        "userId": "{{ role.userID }}",
        "role": "{{ role.role }}"
      }
  {% if not loop.last %}
      ,
  {% endif %}
{% endfor %}     
    ]
}