---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cerberus
  labels:
    app: cerberus
  namespace: openshift-bcgov-cerberus
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cerberus-cluster-reader
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - namespaces
  - pods
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - apiservers
  - clusterversions
  - clusteroperators
  verbs:
  - get
  - list
- apiGroups:
  - ""
  - route.openshift.io
  resources:
  - routes
  verbs:
  - get
  - list
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests
  verbs:
  - get
  - list
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  - apiservices/status
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding  
metadata:
  name: cerberus-cluster-reader
roleRef:
  kind: ClusterRole
  name: cerberus-cluster-reader
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: cerberus
  namespace: openshift-bcgov-cerberus
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cerberus-namespace-reader
  namespace: shellyxuehan-dev
rules:
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - secrets
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding  
metadata:
  name: cerberus-namespace-reader
roleRef:
  kind: Role
  name: cerberus-namespace-reader
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: cerberus
  namespace: openshift-bcgov-cerberus
