apiVersion: v1
kind: Pod
metadata:
  name: {{ item.name }}
  namespace: {{ namespace }}
spec:
  containers:
  - name: {{ item.name }}
    image: {{ image_path }}
    readinessProbe:
      httpGet:
        path: {{ httpget_path}}
        port: {{ httpget_port }}
      initialDelaySeconds: 5
      periodSeconds: 5
      failureThreshold: 30
    resources:
      limits:
        memory: {{ item.memory_test_limits }}
        cpu: {{ item.cpu_test_limits }}
      requests:
        memory: {{ item.memory_test_requests }}
        cpu: {{ item.cpu_test_requests }}
#    command: ["stress"]
#    args: ["--vm", "1", "--vm-bytes", "150M", "--vm-hang", "1"]