---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    description: Aqua scanner secret - (user, password)
  labels:
    deployedby: aqua-playbook
  name: aqua-scanner
  namespace: '{{ aqua_common_namespace }}'
type: Opaque
data:
  username: '{{ aqua_scanner_user | b64encode }}'
  password: '{{ aqua_scanner_password | b64encode }}'
stringData:
  # console_host: 'https://{{ aqua_console_external_host }}'
  console_host: 'http://aqua-console:8080'
